# No dot-directories
.*/

*.code-workspace
node_modules
nbproject

# npm package files
iobroker.*.tgz

Thumbs.db
.commitinfo

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt

# Local development artifacts
docs/
test/*.xapk
test/Partner Platform.html
test/Partner Platform_files/
test/*.zip
test/*
